<h3>Customers</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% _.each(customers, function (customer) { %>
    <tr data-id="<%= customer.id %>" data-model="customer">
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><a href="/customer/show/<%= customer.id %>" class="btn btn-info">Show</a></td>
        <td><a href="/customer/edit/<%= customer.id %>" class="btn btn-warning">Edit</a></td>
        <td><a href="/customer/destroy/<%= customer.id %>" class="btn btn-danger">Delete</a></td>
    </tr>
    <% })%>
</table>